/* Header */

html {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9vh;
  background-color: #03306b;
  color: white;
  position: fixed;
  width: 100vw;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 10vw;
  font-size: 2.5vh;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: red;
  transition: 0.3s;
}

/* Resources */

.resources-container {
  padding-top: 9vh;
  display: flex;
  justify-content: center;
}

.resources-title {
  font-size: 6vh;
  background-color: #03306b;
  padding: 3vh;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  color: white;
}

/* Footer */

footer {
  color: white;
}

footer {
  height: 9vh;
  background-color: #aa0d1a;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 2vh;
}
